<form name="form" [formGroup]="messageForm" (ngSubmit)="onSubmit()" >
    <textarea formControlName="message" [(ngModel)]="data.message" placeholder="Type..." rows="3" maxlength="300" name="message"></textarea>
    <button class="btn btn-primary" type="submit" >GO...</button>
</form>
    <!-- mat-card class="message-card">
      <mat-card-title>
        Add a message
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input type="string" disabled matInput placeholder="Select the date..." [(ngModel)]="message.date" name="date" [matDatepicker]="date">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #date></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card-->
   <pre> {{ message | json }} </pre>
<div>
  <ul *ngFor="let post of posts">
    <li><div class="jb-message">{{post.title}}</div></li>
  </ul> 
</div>
