<div class="input-area">
<div class="refresh-div">
  <button id="refresh-btn" class="btn btn-primary" routerLink="/">ReFr3sH...</button>
</div>
<!--  formControlName="message"-->
<form [formGroup]="form" (ngSubmit)="onSubmit()" >

  <mat-form-field>
    <!-- textarea  [(ngModel)]="data.message" placeholder="Type..." rows="3" name="message"></textarea -->
     <textarea formControlName="message" matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" name="message" [(ngModel)]="data.message" placeholder="Type..."></textarea>
    <button class="btn btn-primary" type="submit" >CH@T...</button>
  </mat-form-field>
</form>
</div>
    <!-- 
maxlength="300" 
      mat-card class="message-card">
      <mat-card-title>
        Add a message
      </mat-card-title>
      <mat-card-content>
          <input type="string" disabled matInput placeholder="Select the date..." [(ngModel)]="message.date" name="date" [matDatepicker]="date">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #date></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
   <pre> {{ message | json }} </pre -->
<div>
  <ul *ngFor="let post of posts">
    <li>
      <div class="jb-message">{{post.title}}</div>
      <div *ngIf="post.link"><a href="{{post.link.href}}" target="_blank">Go to this...</a></div>
    </li>
  </ul> 
</div>
