.input-area{
    margin-left: 2%;
}
.message-card {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    border-bottom: 1px dashed rgba(30,200,30,0.8);
    padding: 3px 0 5px 0;
 }
 .post-div{
    margin-left: 2%;
 }
 
 .mat-form-field {
    width: 100%;
 }

 .mat-card-actions{
     padding: 0;
 } 
 .mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title{
     margin: 0;
 }
 .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button{
     padding-left: 0;
     border: solid 1px green;
     color: blue;
 } 
 ul, menu, dir {
     list-style-type: none;
     list-style-position: unset;
     padding: 0;
     margin: 0; 
 }
 /*
 li{
 }
 */